// #region Variebles
$salat: #7fad39;
$bd-color: rgb(216, 215, 215);
$lg-textcolor: rgb(85, 85, 85);
// #endregion
.HeadSearch{
    display: grid;
    grid-template-columns: 25% 57% 18%;
    grid-area: Search;
    height: 80%;
    margin: auto 0px;
    @media (max-width:525px){
        flex-direction: column;
    }

    >* {
        border: 1px solid $bd-color;
        outline: none;
    }

    input {
        border: 1px 0px;
        padding-left: 23px;
        font-size: 1em;

        &::placeholder {
            color: $bd-color;
        }
    }

    button {
        &:first-child {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1em;
            font-weight: 700;
            background-color: white;
            
            i {
                font-size: 0.7em;
            }
            @media (max-width:700px){
                font-size: 0.9em;
            }
        }
        
        cursor: pointer;

        &:last-child {
            border: none;
            background-color: $salat;
            color: white;
        }
    }
}