.component {
    img {
        width: 70px;
    }

    padding: 8px 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    transition: .4s ease border-color;
    border: 2px solid transparent;
    cursor: pointer;

    .productName {
        color: black;
        text-decoration: none;
    }

    &:hover {
        border-color: #7fad39;
    }
}