.component{
    width: 100%;
    height: 100%;
}
.img{
    width: 100%;
}
.data{
    color: #b2b2b2;
}
.title{
    font-size: 1.3em;
    padding:0.7em 0px;
    font-weight: 700;
}
.content{
    width: 100%;
    margin-top: 1.5em;
}
.text{
    font-size: 0.9em;
    color: #6f6f6f;
}