.component {
    padding: 4em 0px;
    --backBtnTop: calc(4em - 12px);
    position: relative;
    .blog {
        padding-top: 2em;
        .imgBox {
            justify-content: space-between;
            display: flex;
            img {
                width: 60%;
                object-fit: fill;
            }
            .text {
                width: 35%;
            }
        }
        .text {
            color: rgb(141, 141, 141);
            padding-top: 2em;
            font-size: 22px;
            line-height: 1.4;
            @media only screen and (max-width: 1220px) {
                font-size: 18px;
            }
            @media only screen and (max-width: 1040px) {
                font-size: 16px;
            }
        }
        @media only screen and (max-width: 860px) {
            .text {
                font-size: 18px;
            }
            .imgBox {
                img {
                    width: 100%;
                }
                .text {
                    width: 100%;
                }
                flex-direction: column;
            }
        }

        @media only screen and (max-width: 570px) {
            .text {
                font-size: 14px;
            }
        }
    }

    @media only screen and (max-width: 570px) {
        --backBtnTop: 8%;
    }
    .blogAction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2em;
        .link {
            text-decoration: none;
            font-size: 20px;
            color: rgb(128, 128, 128);
            background-color: rgb(235, 234, 234);
            padding: 0px 20px;
            align-items: center;
            display: flex;
            height: 55px;
            transition: 0.4s ease all;
            &:hover {
                color: white;
                background-color: #7fad39;
            }
        }
        .informationBox {
            display: flex;
            justify-content: space-between;
            width: 500px;
            align-items: center;
            .admin {
                display: flex;
                .adminImage {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
                .textBox {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-left: 10px;
                    font-size: 18px;
                    white-space: nowrap;
                    .name {
                        font-weight: 700;
                    }
                    .role {
                        color: rgb(104, 104, 104);
                    }
                }
            }
            .detaileBox {
                ul {
                    display: flex;
                    list-style: none;
                    align-items: center;
                    li {
                        &:first-child {
                            font-weight: 700;
                            font-size: 18px;
                        }
                        &:last-child {
                            color: rgb(104, 104, 104);
                        }
                    }
                }
            }
            @media only screen and (max-width: 860px) {
                flex-direction: column;
                width: auto;
                align-items: baseline;
                .detaileBox {
                    margin-top: 10px;
                }
            }
            @media only screen and (max-width: 680px) {
                .admin {
                    .adminImage {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
        @media only screen and (max-width: 680px) {
            .link {
                font-size: 16px;
            }
        }
        @media only screen and (max-width: 570px) {
            flex-direction: column;
            align-items: baseline;
            .link {
                margin-top: 10px;
                height: 45px;
                padding: 0px 15px;
            }
        }
    }
}
