.component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(180, 180, 180);
    .actionBox {
        --height: 50px;
        display: flex;
        align-items: center;
        .delete {
            font-size: 20px;
        }
        @media only screen and (max-width: 680px) {
            --height: 40px;
            & > div > button {
                font-size: 12px;
                padding: 0px 15px;
            }
        }

        @media only screen and (max-width: 570px) {
            justify-content: space-between;
            padding: 1.5em 0px;
            & > div > button {
                font-size: 14px;
            }
        }
    }
    @media only screen and (max-width: 570px) {
        flex-direction: column;
    }
}
