.component {
    background-color: white;
    list-style: none;
    border: 1px solid var(--bd-color);
    color: black;

    li {
        padding: 9px 34px;
        color: var(--lg-textcolor);
        text-align: left;
    }

    @media only screen and (max-width: 1000px) {
        position: relative;
    }
}
