// #region Variebles
$salat: #7fad39;
$bd-color: rgb(216, 215, 215);
$lg-textcolor: rgb(85, 85, 85);
// #endregion

.component {
    position: relative;
    width: 90%;
    grid-area: Nav;
    @media only screen and (max-width: 1040px) {
        width: 90%;
    }
    @media only screen and (max-width: 1000px) {
        display: flex;
        width: 100%;
    }
}
