// #region Variebles
$salat:#7fad39;
$bd-color:rgb(216, 215, 215);
$lg-textcolor:rgb(85, 85, 85);
// #endregion

.carusel_{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.carusel{
    position: relative;
    width: 96%  ;
    height: 240px;
    margin: 2.5em 0px;
    overflow: hidden;
    &_rotate{
        transition: .8s ease all;
        display: flex;
        height: 100%;
        position: relative;
    }
}
.button{
    z-index: 3;
    user-select: none;
    background-color: white;
    font-size: 1.5em;
    padding: 18px 6px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    border: 1px solid $bd-color;
    &_after{
        right: -4px;
    }
    &_before{
        left: -4px;
    }
}
