// #region Variebles
$salat:#7fad39;
$bd-color:rgb(216, 215, 215);
$lg-textcolor:rgb(85, 85, 85);
// #endregion
.bar_1{
    margin-left: 25%;
    position: relative;
    background-color: rgb(248, 243, 194);
    height:26.5em;
    &_box{
        position: absolute;
        top: 6em;
        left: 3em;
        &>*{
            padding: 0.4em 0px;
        }
        &_1{
            letter-spacing: 3px;
            color: $salat;
            font-weight: 800;
        }
        &_2{
            font-weight: 800;
            font-size: 2.5em;
        }
        &_3{
            color: $lg-textcolor;
        }
        &_4{
            button{
                border: none;
                font-weight: 800;
                color: white;
                background-color: $salat;
                padding: 1em 2.4em;
            }
        }
    }
}
.line{
    &::after{
        top:115%;
        transform: translateX(-50%);
        left: 50%;
        content: " ";
        width: 110%;
        border-radius: 8px;
        height: 4px;
        background-color: #7fad39;
        color: #7fad39;
        position: absolute;
    }   
}
.bar_3{
    padding-top: 8em;
    &_head{
        h2{
            text-align: center; 
            font-size: 2em;
            font-weight: 800;
            position: relative;
            &::after{
                width: 70px;
            }
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            padding: 2.5em 20em;
            li{
                &::after{
                    content: " ";
                    transition: background-color 1.4s ease;
                }
                position: relative;
            }
        }
    }
    &_content{
        transition: 2s ease all;
        padding: 2em 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}