.component {
    width: 100%;
    display: grid;
    --columns: 3;
    justify-items: center;
    grid-template-columns: repeat(var(--columns), 1fr);
    max-height: 200vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0px;
    }
}
.topBorder{
    transform: translateY(-100%);
    width: 100%;
    left: 0%;
    height: 42px;
    background-color: rgb(194, 192, 192);
    position: absolute;
    display: none;
}
@media only screen and (max-width:860px) {
    .component {
        --columns: 2;
    }
}

@media only screen and (max-width:680px) {
    .topBorder{
        display: block;
    }
}
@media only screen and (max-width:570px) {
    .component {
        --columns: 1;
    }
}

