.component {
    --setProductCountInPage: 12;
    width: 100%;
    display: grid;
    --columns: 3;
    justify-items: center;
    grid-template-columns: repeat(var(--columns), 1fr);
    &::-webkit-scrollbar {
        width: 0px;
    }
    @media only screen and (max-width: 860px) {
        --columns: 2;
        --setProductCountInPage: 8;
    }
    @media only screen and (max-width: 570px) {
        --columns: 1;
        --setProductCountInPage: 4;
    }
}
