.shopContent {
    margin-top: 3.3em;
    justify-content: space-between;
    display: flex;
    .sideBar {
        width: 30%;
    }
    .productBar {
        width: 67%; 
    }   
    @media only screen and (max-width:1040px){
        .sideBar{
            width: 243px;
        }
        .productBar{
            width: calc(100% - 243px);
            margin-left: 30px;
        }
    }
    @media only screen and (max-width:680px){
        flex-direction: column;
    }
}
