.component {
    --firstInputsWidth: 48%;
    width: 100%;
    padding: 4em 0px;
    h2 {
        text-align: center;
    }
    .inputBox {
        text-align: center;
        width: 100%;
        input,
        textarea {
            border: 1px solid rgb(231, 231, 231);
            font-size: 16px;
            padding: 14px;
            outline: none;
            margin-top: 1.8em;
        }

        .firstInputBox {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            input {
                height: 50px;
                width: var(--firstInputsWidth);
            }
        }

        .mesageInput {
            min-width: 100%;
            max-width: 100%;
            min-height: 200px;
            max-height: 220px;
        }
        button {
            margin-top: 2em;
            border: none;
            font-size: 18px;
            padding: 16px 24px;
            font-weight: 800;
            color: white;
            background-color: #7fad39;
        }
    }
    @media only screen and (max-width: 680px) {
        --firstInputsWidth: 100%;
        .inputBox {
            button {
                padding: 12px 16px;
                font-size: 16px;
            }
        }
    }
}
