.component {
    .incrimentBtn,
    .dincrimentBtn {
        cursor: pointer;
        font-size: 20px;
    }
    height: var(--height);
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-between;
    width: var(--cardWidth);
    margin-right: var(--mrr);
    margin-top: var(--mrt);
    align-items: center;
    padding: 0px 18px;
}
