.component {
    --backBtnTop: calc(4em + 35px);
    position: relative;
    padding: 4em 0px;
    display: flex;
    justify-content: space-between;
    .imageBox {
        width: 47%;
        img {
            width: 100%;
        }
    }
    .InformaitonBox {
        width: 45%;
    }
    @media only screen and (max-width: 860px) {
        flex-direction: column;
        .imageBox,
        .InformaitonBox {
            width: 100%;
        }
    }
    @media only screen and (max-width: 570px) {
        
    --backBtnTop: calc(4em + 15px);
    }
}
