.component {
    padding: 4em 0px;
    display: flex;
    justify-content: space-between;
    .imageBox {
        width: 47%;
        img {
            width: 100%;
        }
    }
    .InformaitonBox{
        width: 45%;
    }
    @media only screen and (max-width:860px){
        flex-direction: column;
        .imageBox,.InformaitonBox{
            width: 100%;
        }
    }
}
