.component{
    .productName{
        font-size: 40px;
        font-weight: 800;
    }
    .productPrice{
        color: rgb(218, 0, 0);
        font-size: 28px;
    }
    .productDescription{
        color: rgb(134, 134, 134);
        line-height: 1.5;
    }
}