// #region Variebles
$salat: #7fad39;
$bd-color: rgb(216, 215, 215);
$lg-textcolor: rgb(85, 85, 85);
// #endregion

.banner {
    margin-left: 25%;
    position: relative;
    background: rgb(113, 231, 75);
    background: linear-gradient(
        90deg,
        rgba(113, 231, 75, 1) 47%,
        rgba(197, 235, 160, 1) 80%,
        rgba(131, 235, 98, 1) 99%
    );
    height: 26.5em;
    .content {
        position: absolute;
        top: 6em;
        left: 3em;
        & > * {
            padding: 0.4em 0px;
        }
        .title {
            letter-spacing: 3px;
            font-weight: 800;
        }
        .text1 {
            font-weight: 800;
            font-size: 2.5em;
        }
        .text2   {
            color: $lg-textcolor;
        }
        .button {
            border: none;
            font-weight: 800;
            color: white;
            background-color: $salat;
            padding: 1em 2.4em;
        }
    }
    @media only screen and (max-width: 1000px) {
        margin-left: 0;
    }
}
