.component{
    --height:500px;
    .mapBox{
        width: 100%;
        height: var(--height);
    }
    iframe{
        left: 0;
        position: absolute;
        width: 100%!important;
        height: var(--height);
    }
    @media only screen and (max-width:680px){
        --height: 400px;
    }
    @media only screen and (max-width:460px){
        --height: 300px;
    }
}