.component {
    padding: 4em 0px;
    .blogBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .blog {
            margin-top: 3em;
            width: 28%;
        }
    }
    @media only screen and (max-width: 1040px) {
        .blogBox{
            .blog{
                width: 44%;
            }
        }
    }
    @media only screen and (max-width: 680px) {
        .blogBox{
            .blog{
                width: 98%;
            }
        }
    }
}
