.component {
    display: grid;
    grid-template-columns: 25% 57% 18%;
    grid-area: Search;
    height: 80%;
    margin: auto 0px;

    > * {
        border: 1px solid var(--bd-color);
        outline: none;
    }

    button {
        cursor: pointer;
    }

    @media (max-width: 525px) {
        flex-direction: column;
    }
    @media only screen and (max-width: 570px) {
        grid-template-columns: 18% 64% 18%;
    }
}
