.component {
    button {
        outline: none;
        background: transparent;
        border: none;
    }

    .favoriteBox {
        position: relative;
        z-index: 4;

        &::before {
            content: " ";
            position: absolute;
            border: 0.5em solid transparent;
            border-bottom: var(--salat) 0.5em solid;
            left: 50%;
            transform: translate(-50%, -40%);
        }
    }

    .backgrounde {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
}