.component {
    box-sizing: border-box;

    border: 1px solid black;
    border-radius: 6px;
    margin-top: 0.8em;
    padding: 0.2em 0.2em;

    & > div {
        background-color: white;
        border-radius: 6px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        display: flex;
        border: 1px solid black;
        padding: 0.3em 1em;

        .productName {
            font-size: 1em;
            margin: auto 0px;
            color: black;
            cursor: pointer;
            text-decoration: none;
        }
        .line {
            background-color: rgb(201, 201, 201);
            width: 2px;
            height: 2.3em;
        }

        img {
            height: 3em;
        }
    }
}
