* {
    img {
        pointer-events: none;
    }
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

body {
    display: flex;
    justify-content: space-evenly;
    & > div {
        margin: 0px auto;
        $width: 1350px;
        $space: 180px;
        $max-space: 50px;
        width: $width;
        @while ($width + $max-space) > 320px {
            @media only screen and (max-width: ($width + $max-space)) {
                @if $width < 700px {
                    $space: 110px;
                }
                @if $width < 500px {
                    $space: 20px;
                }
                & {
                    $width: $width - $space;
                    width: $width;
                }
            }
        }
        @media only screen and (max-width: 320px) {
            & {
                width: 100%;
            }
        }
    }
}
