.component {
    --cardWidth: 140px;
    --height: 50px;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 0.5em 20px;
    display: flex;
    justify-content: space-between;

    .productActionBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 430px;
        font-size: 20px;
        font-weight: 600;
        .productPrice,
        .totalPrice {
            width: 50px;
        }
        i {
            cursor: pointer;
        }
    }

    @media only screen and (max-width: 1040px) {
        .productActionBox {
            width: 400px;
        }
    }

    @media only screen and (max-width: 860px) {
        .productActionBox {
            width: 350px;
        }
        --cardWidth: 120px;
    }

    @media only screen and (max-width: 680px) {
        .productActionBox {
            width: 300px;
            font-size: 16px;
        }
        --height: 40px;
        --cardWidth: 100px;
    }

    @media only screen and (max-width: 570px) {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
        .productActionBox {
            width: 100%;
            padding: 2em 20px;
            .productPrice,
            .totalPrice {
                width: auto;
            }
        }
        --cardWidth: 120px;
    }

    @media only screen and (max-width: 440px) {
        .productActionBox {
            padding: 2em 0px;
        }
    }
    @media only screen and (max-width: 390px) {
        --cardWidth: 100px
    }
}
