.component{
    padding: 3em 0px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    .iconBox{
        text-align: center;
        width: 23%;
        padding: 1.5em 0px;
        i{
            font-size: 35px;
            color: #7fad39;
        }        
        .title{
            font-weight: 800;
            font-size: 24px;
            padding: 20px 0px;
        }
        .text{
            font-size: 18px;
            color: rgb(126, 126, 126);
        }
    }
    @media only screen and (max-width:1040px){
        .iconBox{
            width: 50%;
        }
    }
    @media only screen and (max-width:570px){
        .iconBox{
            width: 100%;
        }
    }
}