

.component {
  margin-top: 32px;
  padding: 1em 0px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  align-items: center;
  border: 2px solid;
  $borderColor:var(--salat);
  border-color: $borderColor transparent $borderColor transparent;
}
.carouselWrapper {
  width: 100%;
  overflow: hidden;
}
.carousel {
  --columns: 4;
  --gap: 46px;
  @media (max-width: 1100px) {
    --columns: 3;
  }
  @media (max-width: 860px) {
    --columns: 2;
  }
  @media (max-width: 570px) {
    --columns: 1;
  }

  --column-width: calc((-1 * (var(--gap) * (var(--columns) - 1)) + 100%) / var(--columns));
  transform: translateX((calc(var(--position) * (var(--column-width) + var(--gap)) * -1)));
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--column-width);
  gap: var(--gap);
  list-style-type: none;
  transition: transform 0.8s ease;
}
.button {
  cursor: pointer;
  align-items: center;
  font-size: 1.7em;
  background-color: white;
  border: none;
}
